{% extends 'base.html.twig' %}

{% block container %}


    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Coupon</h3>
                <p class="text-muted m-b-30 font-13"> Ajouter coupon </p>
                <form  method="post" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-12">Code coupon</label>
                        <div class="col-md-12">
                            <input type="text" name="code" class="form-control" placeholder="code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Discount</label>
                        <div class="col-md-12">
                            <input type="text"  name="amount" class="form-control" placeholder="Montant en TND">
                        </div>
                    </div>
                    <div style="background-color: red">
                        <p style="color: white">{{Message}}</p>
                    </div>
                    <button type="submit" value="Ajouter" class="btn btn-success waves-effect waves-light m-r-10">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}




