<html>
<h3>Bonjour Mr {{ Appointment.getAppointmentusername() }}</h3>
<p> votre rendez- vous du {{ Appointment.getAppointmentdate()|date('d-y-m') }} a ete confirmer a {{ Appointment.getAppointmenttime() }}</p>

</html>